# We're redefining brmux to enable VLANs on the bridge by setting VLANFiltering=true, wchich
# (at least at the time of this writing) can't be done in netplan.
# - having brmux defined here, we should not define it again in the netplan file (indeed,
# defining it in the netplan file would result in incorrect network configuration - see the
# description in file /etc/netplan/50-cloud-init.yaml)
# - this definition creates the brmux device, but it remains inactive (Down) after creation; we
# bring it Up in file 01-ost-brmux.network.

[NetDev]
Name=brmux
Kind=bridge

# Enable VLAN processing on the bridge
[Bridge]
VLANFiltering=true
# Allow untagged frames in both directions on all ports of the bridge.
DefaultPVID=1        # <== this option works correctly on Debian, actually, the value "1" is default so 
#                          there's no need to set it explicitly, but doing so makes the configuration clearer
#DefaultPVID=none    # <== this "none" setting to enable the "dumb switch" behaviour worked well on Ubuntu, 
#                          but on Debian it seems to drop all untagged traffic

# Bonus ===============================
# We can also explicitly tag on ingress (PVID=1) and untag on egress (EgressUntagged=1) the
# frames of the default (externally untagged) VLAN. This form seems cleaner than DefaultPVID.
# Shortly: allow untagged frames in both directions on all ports of the bridge.
#[BridgeVLAN]
#PVID=1
#EgressUntagged=1
