# Definitions of tagged VLANs
# - we use systemd files because tagged VLANs cannot currently be
# set in netplan (this may change someday)
# - definitions for network-external-interface according to kolla-ansible

[Match]
Name=veth1br

[Network]
Bridge=brmux

# - connecting a flat provider network to the veth1 interface with an IP address from the
# Linksys routable range for OpenStack's "external network" purposes;
# - from the tagged VLAN=2 segment to veth1, an untagged network (with default VLAN=1) will be provided;
# - note: the same applies to veth0br and veth0 for network-interface purposes; # - below, PVID=2
# causes the VLAN=2 tag to be added to every untagged frame arriving on this interface, and
# EgressUntagged=2 forces every frame tagged with VLAN=2 that has an output on this interface to be
# removed and exit the switch via veth1 as untagged (the direction of incoming/outgoing frame
# transmission is always determined from the switch/bridge perspective).
# - note: in fact, It would be possible to not use VLAN=2 at all and use the standard, untagged eth,
# but we introduce VLAN=2 for educational purposes to compare it with vendor VLANs and thus better
# illustrate the latter.
[BridgeVLAN]
PVID=2
EgressUntagged=2

# - for internal OpenStack networks, such as VLAN provider networks, implemented
# as tagged VLANs (and possibly for tenant VLANs - if allowed in the ml.2 file -
# see the configuration for kolla-ansible)
# - the following VLANs will cross veth1br to be available at (will reach) veth1
# for the Neutron's needs
[BridgeVLAN]
VLAN=101-103
