# Define device veth pair veth1br-veth1
# It will become neutron_external_interface in globals kolla-ansible

[NetDev]
Name=veth1br
Kind=veth

[Peer]
Name=veth1
